* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.main{
  display: flex;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: -16px;
  padding-top: 16px;
   width: 100vw;
   height: 95vh;
}

.div1{
  width: 20vw;
  overflow-x: auto;
}
.text{
  padding-left: 20px;
  background-color: #04abff;
}
.app__title{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 20px;
  height: 10vh;
  font-size: 30px;
  color: aliceblue;
}



.div2{
  background-color: gainsboro;
  width: 80vw;
  flex: 1;
  margin-left: 20px;margin-right: 20px;
}
.app__list-user--conten{
  background-color: whitesmoke;
}

.app__item-user {
    height: 40px;
    background-color: #eae8e8;
    margin-bottom: 4px;
    font-weight: 700;
   
    list-style-type: none;
    padding-left: 12px;
    padding-top: 4px;
}
.div21{
  height: 88vh;
  overflow-x: auto;
  
}

.list-span{
  font-size: 10px;
  color: gray;
}
p{
  margin-bottom: 0px;
}

.form{
  display: flex;
}
.form input {
  flex: 1;
}
.headerxx{
  background-color: aquamarine;
}


@media only screen and (max-width: 1000px) {
  
}

